﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_reviews> 

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CVGS_reviews</h4>
    <hr />
    
    <dl class="dl-horizontal">
        @foreach (var review in Model)
        {
            <dt>
                Description
            </dt>

            <dd>
                @review.reviewDescription
            </dd>
            <dt>
                Rating
            </dt>

            <dd>
                @review.ratingAmount
            </dd>
        }
        Rating AVG = @ViewBag.Average
    </dl>
</div>
<p>
    @*//@Html.ActionLink("Edit", "Edit", new { id = Model.reviewId }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
