﻿@model AceOfSpadesCVGS.Models.CVGS_game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CVGS_game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.game_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESRB_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESRB_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_release)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_release)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_catergory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_catergory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_developer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_developer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.game_price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.game_price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.game_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
