﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_FriendsOrFamily>

@{
    ViewBag.Title = "ListOfFriends";
}

<h2>ListOfFriends</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.senderEmail)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.recieverEmail)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.isAccepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isBlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isFamily)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.senderEmail)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.recieverEmail)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.isAccepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isBlocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isFamily)
        </td>*@
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.requestId })
        </td>
    </tr>
}

</table>
