﻿@model AceOfSpadesCVGS.Models.CVGS_Order_Detail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>CVGS_reviews</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.order_id)
        @Html.HiddenFor(model => model.order_user_id)
        @Html.HiddenFor(model => model.game_id)
        @Html.HiddenFor(model => model.order_total)
        @Html.HiddenFor(model => model.order_quantity)
       

        <div class="form-group">
            @Html.LabelFor(model => model.order_process, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.order_process)
                    @Html.ValidationMessageFor(model => model.order_process, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
