﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_Order_Detail>
@{
    ViewBag.Title = "order_Admin";
}
<h2>order_Admin</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_process)
        </th>
        <th>
            
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.order_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_id)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.order_process)
        </td>
        <td>@Html.ActionLink("Edit", "Edit", new { id = item.order_id , gameid = item.game_id})</td>
    </tr>
    }
</table>
