﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_Order_Detail>
@{
    ViewBag.Title = "orderCustomer";

}
@Session["user_id"]
<h2>Order</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.order_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_process)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.game_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.order_process)
            </td>
        </tr>
    }
</table>