﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game>

@{
    ViewBag.Title = "Search";
}

<h2>Search For Game</h2>
@using (Html.BeginForm("Index", "Search", FormMethod.Get))
{
    <b>SearchBy:</b>
    @Html.TextBox("search_txt")<input type="submit" value="Search"/>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Game Name</th>
        </tr>
    </thead>
    <tbody>
        @if(Model.Count() == 0)
        {
            <tr>
                <td colspan="3" style="color:red">No Matched Games</td>
            </tr>
        }
        else
        {
            foreach(var item in Model)
            {
                <tr>
                    <td>@item.game_name</td>
                </tr>
            }
        }
    </tbody>
</table>





@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.game_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESRB_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_release)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_catergory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_developer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESRB_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_catergory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_developer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.game_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.game_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.game_id })
        </td>
    </tr>
}

</table>*@
