﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game>

@{
    ViewBag.Title = "Index";
}

<h2>Game List</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.game_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_catergory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game_price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.game_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_catergory)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.game_price)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.game_id })
            @Html.ActionLink("Download", "Download", new { id = item.game_id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Search For Games", "Index", "Search")
</p>
