﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game>

@{
    ViewBag.Title = "List Of Reports";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Reports
        </th>

    </tr>


    <tr><td>@Html.ActionLink("Game List Report", "GameListReport")</td></tr>
    <tr><td>@Html.ActionLink("Game Detail Report", "GameDetailReport")</td></tr>
    <tr><td>@Html.ActionLink("Member List Report", "MemberListReport")</td></tr>
    <tr><td>@Html.ActionLink("Member Detail Report", "MemberDetailReport")</td></tr>
    <tr><td>@Html.ActionLink("Sales Report", "SalesReport")</td></tr>


</table>
