﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game>
@{
    ViewBag.Title = "Member Detail Report";
}
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            <p>User Name</p>
        </th>
        <th>
            <p>Email</p>
        </th>
        <th>
            <p>Game Purchases</p>
        </th>
        <th>
            <p>Date Joined</p>
        </th>
    </tr>
</table>