﻿@model IEnumerable<AceOfSpadesCVGS.Models.CVGS_game> 
@{
    ViewBag.Title = "Sales Report";
}
<h2>Sales</h2>
<table class="table">
    <tr>
        <th>
            <p>Game Name</p>
        </th>
        <th>
            <p>Quantity</p>
        </th>
        <th>
            <p>Developer</p>
        </th>
        <th>
            <p>Price</p>
        </th>
        <th>
            <p>PartOfBundle</p>
        </th>
        <th>
            <p>SoldInSale</p>
        </th>
    </tr>
</table>
