﻿@model AceOfSpadesCVGS.Models.CVGS_Payment_Transaction
@{
    ViewBag.Title = "Checkout";
}


<h2>checkout</h2>
@ViewBag.Error
@using (Html.BeginForm("checkout","cart"))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" input="hidden">
            @Html.LabelFor(model => model.game_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.game_id, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.game_id, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.payment_cc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.payment_cc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.payment_cc, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.transaction_firstName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.transaction_firstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.transaction_firstName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.transaction_lastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.transaction_lastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.transaction_lastName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.payment_method, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @{
                var items = new SelectList(new[]
                                {
                   new SelectListItem {Text = "1", Value = "Visa"},
                   new SelectListItem {Text = "2", Value = "Mastercard"},
                   new SelectListItem {Text = "3", Value = "American Express"},
               }, "Text", "Value");
            }

            @Html.DropDownListFor(model => model.payment_method, @items)
            @Html.ValidationMessageFor(model => model.payment_method, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.transaction_pc, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.transaction_pc, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.transaction_pc, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.transaction_city, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.transaction_city, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.transaction_city, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <p>
            Physical Copy Purchase: @Html.CheckBox("shipping_method", false)
        </p>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
