﻿@model AceOfSpadesCVGS.Models.CVGS_order
@{
    ViewBag.Title = "confirmation";
}

<h2>Order successful</h2>
<h2>shipping</h2>
@using (Html.BeginForm("confirmation", "Cart"))
{
    @Html.AntiForgeryToken()

  

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="create" class="btn btn-default" />
            </div>
        </div>
}


