﻿@model AceOfSpadesCVGS.Models.CVGS_member

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CVGS_member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.platform)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.platform)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.shipping_address)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.shipping_address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.mailling_address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.mailling_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditCardNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creditCardNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.expiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.expiryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.creditCardVerfiyNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.creditCardVerfiyNumber)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVGS_address.address_street)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVGS_address.address_street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CVGS_library.game_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CVGS_library.game_id)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
