﻿@model AceOfSpadesCVGS.Models.CVGS_member

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            name
        </th>
        <th>
            platform
        </th>
        <th>
            game_type
        </th>
        <th>
            gender
        </th>
        <th>
            DOB
        </th>
        <th>
            shipping_address
        </th>
        <th>
            mailling_address
        </th>
        <th>
            credit card number
        </th>
        <th>
            expiry date
        </th>
        <th>
            credit card verification number
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVGS_address.address_street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CVGS_library.game_id)
        </th>*@
        <th></th>
    </tr>

    <tr>
        <td>
            @(Model.name)
        </td>
        <td>
            @(Model.platform)
        </td>
        <td>
            @(Model.game_type)
        </td>
        <td>
            @(Model.gender)
        </td>
        <td>
            @(Model.DOB)
        </td>
        <td>
            @(Model.shipping_address)
        </td>
        <td>
            @(Model.mailling_address)
        </td>
        <td>
            @(Model.creditCardNumber)
        </td>
        <td>
            @(Model.expiryDate)
        </td>
        <td>
            @(Model.creditCardVerfiyNumber)
        </td>


        @*<td>
            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.CVGS_address.address_street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CVGS_library.game_id)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
        </td>
    </tr>


</table>
